body {
    font-family: "Oswald", "roboto", sans;
    background: linear-gradient(#142936, #0B1820);
    color: #FFF8EE;
    width: 393px !important;
  
    margin: 0 auto;
}


/*Header Nav CSS Start*/
header {
    width: 393px;
    margin: 0 auto;

}

/*Header Nav CSS End*/

/*Index.html CSS Start*/
.welcome {
    margin-top: 1rem;
}

.welcomeh1{
    font-size: 28px;
    font-weight: bold;
}

.welcomeh1-booking{
    margin-top: 30%;
    font-weight: bold;
    padding-bottom: 20px;
    margin-left: 60px;
}


.lead{
    font-size: 16px;  
    font-weight: 500;
}
.yuc-text {
    margin-left: 11px;
 
}

.classescard {
    margin-left: 11px;
    background: linear-gradient(#486374, #0F1924);
}

.cardtitle{
    color:#FFF8EE !important;
}

.cardcontainer {
    margin-left: 4px;
    margin-right: 4px;
}


.buttoncontainer {
    margin-top: 1rem;

}

.btn-sm {
    width: 177px;
    height: 55px;
    background: linear-gradient(#920F3A, #CD0031);
    font-size: 20px;
    color: #FFF8EE;
}

.btn-lg {
    height: 80px;
    background: linear-gradient(#920F3A, #CD0031);
    font-size: 32px;
    color:#FFF8EE;
}
.contentcard{

    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width:;
}
.contentcard1{
  
}
/*Index.html CSS End*/




/*BookingMenu.html CSS Start*/
.myclassescard{
  background-color: FFF8EE; 
  margin-top: 1rem;

}
.active {
  display: block;  
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
width: 18%;
height: 50%;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    top: 49%;
  left: 49.15%;
  transform: translate(-50%, -50%);
}

.mngbagstitle, .mngbagsdescr {
    margin-left: 2rem;
}
.easy123 {
    margin-top: 1rem;
    margin-left: 8rem;}
    
.onetwothreesteps {
margin-top: 1rem;
margin-left: 8rem;
}


.bookaclassbtn{
    margin-left: 2rem;   
}


/*BookingMenu.html CSS End*/

/*ConfirmedBooking.html CSS Start*/
.bookingsummary{
    margin-left: 17px;
}
.donebtn{
    background: linear-gradient(#1B6C86, #CD0031);  
    height: 55px;
    width: 255px;
    color: #FFF8EE;
    font-size: 25px;
    margin-left: 60px;
}

/*ConfirmedBooking.html CSS End*/



/*Footer Nav CSS Start*/
.navfooter {
    width: 393px;
    height: 75px;
    background: linear-gradient(#243E4D, #486374);
    font-size: 12px;
    font: 100;
}
/*Footer Nav CSS End*/