body {
    font-family: "Oswald", "roboto", sans;
    background: linear-gradient(#142936, #0B1820);
    color: #FFF8EE;
    width: 393px !important;
    margin: 0 auto;
}

.col {}



header {
    width: 393px;
    margin: 0 auto;
}

.welcome {
    margin-top: 11rem;
}

.welcomeh1{
    font-size: 28px;
    font-weight: bold;
}
.lead{
    font-size: 16px;  
    font-weight: 500;
}
.yuc-text {
    margin-left: 11px;
 
}

.classescard {
    margin-left: 11px;
    background: linear-gradient(#486374, #0F1924);
}

.cardtitle{
    color:#FFF8EE !important;
}

.cardcontainer {
    margin-left: 4px;
    margin-right: 4px;
}


.buttoncontainer {
    margin-top: 1rem;

}

.btn-sm {
    width: 177px;
    height: 55px;
    background: linear-gradient(#920F3A, #CD0031);
    font-size: 20px;
    color: #FFF8EE;
}

.btn-lg {
    height: 80px;
    background: linear-gradient(#920F3A, #CD0031);
    font-size: 32px;
    color:#FFF8EE;
}
.contentcard{

    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width:;
}
.contentcard1{
  
}


.navfooter {
    width: 393px;
    background: linear-gradient(#243E4D, #486374);
    font-size: 12px;
    font: 100;
}